
<div class="container">
    <mat-card class="example-card">
      <mat-card-title style="font-family: Bahnschrift;color:#664983;">Register
      </mat-card-title>
      <div>
        <mat-divider></mat-divider>
        <br /><br />
        <form  [formGroup]="RegistrationFormGroup" (ngSubmit)="register()">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input formControlName="email" matInput placeholder="Enter Email " />
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="RegistrationFormGroup.get('email').errors">
             Email is required!
            </mat-error>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input type="password" formControlName="password" matInput placeholder="Enter Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" (change)="onPasswordValidation()" />
            <mat-error *ngIf="password.errors?.['required']">
              Password is required.
            </mat-error>
             <mat-error *ngIf="password.errors?.['pattern']">
              Password must contain at least one number,one uppercase and lowercase letter, at least 8 or more characters.<br>
              </mat-error> 
            <mat-icon matSuffix>password</mat-icon>
            
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Confirm Password</mat-label>
            <input  type="password" formControlName="confirmpassword" matInput placeholder="Enter Confirm Password" (change)="onPasswordChange()" />
            <mat-error *ngIf="confirmpassword.errors?.['required']">
                Confirm Password is required!
             </mat-error>
            <mat-error *ngIf="confirmpassword.errors?.['mismatch']">
              Confirm Password must be matched!
          </mat-error> 
            <mat-icon matSuffix>password</mat-icon>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Token</mat-label>
            <input type="text" formControlName="token" matInput placeholder="Token" />
            <mat-icon matSuffix>token</mat-icon>
            <mat-error *ngIf="RegistrationFormGroup.get('token').errors">
                Token is required!
             </mat-error>
          </mat-form-field>
          
          <mat-card-actions>
            <button class="loginbtn" mat-raised-button  style="width: 95%; margin-left: 9px; padding: 5px" [disabled]="RegistrationFormGroup.invalid" >
              Sign Up
            </button>
          </mat-card-actions>
          <mat-divider></mat-divider>
          <div style="display: flex; justify-content: center">
            <mat-card-content style="margin-top: 30px">
              <a style="color: blue; font-weight: 500" [routerLink]="['/login']" href="#"><span style="color: grey">
                  Already
                  an Account? </span> LOGIN
              </a>
            </mat-card-content>
          </div>
        </form>
      </div>
    </mat-card>
  </div>
