.showContainer{
    padding: 2%;
}

.showRepo{
    height: 20em !important;
}

.btn-group-sm>.btn, .btn-sm{
    padding: 0;
    outline:0;
    width: min-content;
}
.btn-sm:focus {
    outline:0;
}
button.btn.trash-btn {
    float: right;
}
.fa {
    color: rgb(185, 57, 57);
}

.addRepoButton{
    height: 50%;
    margin-top: 3%;
}

.addButton{
    background-color: #664983;
    color: white;
}

h4{
    margin: 0;
    padding: 0;
}