<div class="showContainer">
  <div class="overflow-auto showRepo up">
    <div id="noDataText">
      <h3 *ngIf="!repoList" style="color: #aaaaaa;">No Repository Selected</h3>
    </div>
    <div class="repoList d-flex justify-content-between" *ngFor="let i of nameOfItem; let index = index">
      <div class="labelName">
        <h4>{{i.name}}</h4>
      </div>
      <div class="trashButton">
        <button class="btn trash-btn btn-sm" (click)="remove(index)">
          <i class="fa fa-trash"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="addRepoButton d-flex justify-content-end down">
    <button class="btn addButton" (click)="openDialog()">Add Repository</button>
  </div>
</div>