<div class="container">
<div class="row">
    <div class="col">
    <mat-card class="example-card block">
        <img mat-card-image src="assets\images\interface-3614766.svg" alt="Visualize process">
        <mat-card-content>
    
        <h2 style="text-align: center;font-family: Cambria;"><b>Visualize process</b></h2>
        
        </mat-card-content> 
    </mat-card>
    </div>
    <div class="col">
        <mat-card class="example-card block">
            <img mat-card-image src="assets\images\interface-3614766.svg" alt="Filter Analysis">
            <mat-card-content>
                <h2 style="text-align: center;font-family: Cambria;"><b>Filter Analysis</b></h2>
            </mat-card-content> 
        </mat-card>
    </div>
    <div  class="col">
        <mat-card class="example-card block">
            <img mat-card-image src="assets\images\interface-3614766.svg" alt="PR Analysis">
            <mat-card-content>
                <h2 style="text-align: center;font-family: Cambria;"><b>PR Analysis</b></h2>
            </mat-card-content> 
        </mat-card>
    </div>
    <div  class="col">
        <mat-card class="example-card block">
            <img mat-card-image src="assets\images\interface-3614766.svg" alt="Settings Analysis">
            <mat-card-content>
                <h2 style="text-align: center;font-family: Cambria;"><b>Settings Analysis</b></h2>
            </mat-card-content> 
        </mat-card>
    </div>
</div>
</div>
