<div class="container">
<div class="row">

    <!-- Visualize process -->
    <div class="col">
    <mat-card class="example-card block">
        <img mat-card-image src="assets\images\visualize_process.png" alt="Visualize process">
        <mat-card-content>
    
        <h2 style="text-align: center;font-family: Cambria;"><b>Visualize process</b></h2>
        
        </mat-card-content> 
    </mat-card>
    </div>

    <!-- Filter Analysis -->
    <div class="col">
        <mat-card class="example-card block">
            <img mat-card-image src="assets\images\filter_analysis.png" alt="Filter Analysis">
            <mat-card-content>
                <h2 style="text-align: center;font-family: Cambria;"><b>Filter Analysis</b></h2>
            </mat-card-content> 
        </mat-card>
    </div>

    <!-- PR Analysis -->
    <div  class="col">
        <mat-card class="example-card block">
            <img mat-card-image src="assets\images\pull_request.png" alt="PR Analysis">
            <mat-card-content>
                <h2 style="text-align: center;font-family: Cambria;"><b>PR Analysis</b></h2>
            </mat-card-content> 
        </mat-card>
    </div>

    <!-- Settings Analysis -->
    <div  class="col">
        <mat-card class="example-card block">
            <img mat-card-image src="assets\images\setting_analysis.jpg" alt="Settings Analysis">
            <mat-card-content>
                <h2 style="text-align: center;font-family: Cambria;"><b>Settings Analysis</b></h2>
            </mat-card-content> 
        </mat-card>
    </div>
</div>
</div>
