#closeIcon {
    float: right;
    font-size: 150%;
    color: #3b3b3b;
}

.savedQueryResult {
    width: auto;
    height: max-content;
}

h4 {
    margin-bottom: 0%;
}

.addedItems {
    height: 8rem !important;
    border: 1px solid rgb(193, 192, 192);
    border-radius: 5px;
    margin-top: 3%;
    margin-left: 0.3%;
    margin-right: 0.3%;
    padding: 3%;
}
::ng-deep .mat-checkbox-checked .mat-checkbox-background {
    background-color: #664983 !important;
}
.mat-input-element:focus{
    outline: none !important;
}