<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header cont">
            <img src="\assets\images\app_logo.png" alt="App Name" height=55px>
            <a href="#" class="navbar-app">Polyrepo</a>
        </div>
        <div class="navbar-header">
            <div class="container">
                <div class="containerA">
                    <a href="{{orgProfileData?.organization?.url}}" target="_blank" class="navbar-app" id="orgName">{{orgProfileData?.organization?.name}}</a><br>
                </div>
                <img src="{{orgProfileData?.organization?.avatarUrl}}" alt="App Name" height=55px>
                </div>
            </div>
        </div>
    </div>

<div class="repoList">
    <app-show-repository></app-show-repository>
</div><br>

<!-- filter options -->
<div class="filtersettingdiv" >
    <mat-selection-list #filterr  [multiple]="false">
        <mat-list-option *ngFor="let filter of filters" [value]="filter">
            <span style="font-size:20px">
                {{filter}}
              </span>
        </mat-list-option>
    </mat-selection-list>
</div>

<div class="content">
    <!-- issues analysis -->
    <div *ngIf="filterr.selectedOptions.selected[0]?.value == 'Issue Analysis'">
        <app-issueanalysis></app-issueanalysis>
    </div>

    <!-- pr analysis -->
    <div *ngIf="filterr.selectedOptions.selected[0]?.value == 'PR Analysis'" >{{item | json}}
        <app-pranalysis></app-pranalysis>
    </div>
</div>


