.container{
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.containerA{
    align-items: center;
}

.navbar-app {
    color: white;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}

.navbar-header{
    margin-left: 20px;
}

.navbar-app1
{
    margin-right:25px;
}
#orgName{
    font-size: xx-large;
}

.navbar-default {
    background-color: #261835;
}