.container{
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
}

.containerA{
    align-items: center;
}

.navbar-app {
    color: white;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 30px;
}

.navbar-header{
    margin-left: 20px;
}

.navbar-app1
{
    margin-right:25px;
}
#orgName{
    font-size: xx-large;
}

.navbar-default {
    background-color: #261835;
}

.filtersettingdiv {
    height: 15rem;
    width: 20rem;
    border: 2px solid rgb(106, 106, 106);
    border-radius: 10px; 
    margin-left: 10px;
    padding-top: 10px;
}

.content{
    margin-left: 22rem;
    margin-top: -39rem;
    border: 2px solid rgb(106, 106, 106);
    border-radius: 10px;
    height: 39rem;
    width: 76rem;
}
