<mat-toolbar class="navigation">
  <img src="\assets\images\app_logo.png" alt="App Name" height="55px" class="appImage" />
  <a href="#" class="appname">Polyrepo</a>
  <span class="example-spacer"></span>
  <h2 id="orgText">Organization : </h2>
  <img src="{{ orgProfileData?.organization?.avatarUrl }}" alt="App Name" height="50%" class="orgImage"/>
  <a href="{{ orgProfileData?.organization?.url }}" target="_blank" class="orgname" id="orgName">
    {{ orgProfileData?.organization?.name }}</a><br />
  <i class="fa fa-sign-out" (click)="logout()" aria-hidden="true"></i>
</mat-toolbar>
<div>
  <div class="content">

    <!-- Display repository list -->
    <div class="repoLeft">
      <div class="repoList">
        <app-show-repository></app-show-repository>
      </div>

      <!-- filter options -->
      <div class="filterList overflow-auto">
        <mat-selection-list #filterr [multiple]="false" (selectionChange)="changeSpan($event)">
          <mat-list-option *ngFor="let filter of filters" [value]="filter">
            <span style="font-size: 17px" >
              {{ filter }}
            </span>
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

    <div class="repoRight">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

