.appname {
  color: #664983;
  padding-left: 15px;
  text-decoration: none;
  text-align: center;
  font-size: 150%;
  font-family: "Bahnschrift";
}

.orgname {
  color: #664983;
  /* padding: 1%; */
  text-decoration: none;
  text-align: center;
  font-size: 130%;
  font-family: "Bahnschrift";
}

#orgText{
  color: #664983;
  padding-right: 1%;
  font-size: 130%;
  font-family: "Bahnschrift";
}

.repoList {
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(161, 161, 161, 0.9);
  margin-top: 1%;
  padding: 1%;
}

.filterList {
  border-radius: 10px;
  box-shadow: 1px 1px 10px rgba(161, 161, 161, 0.9);
  margin-bottom: 1%;
  height: 32.8%;
}

.example-spacer {
  flex: 1 1 auto;
}

.navigation {
  background-color: #ffffff;
}

.appImage {
  border-radius: 50%;
}

mat-toolbar {
  box-shadow: 0px 1px 10px rgba(161, 161, 161, 0.9);
}

.fa-sign-out{
  font-size: 120%;
  color: rgb(53, 87, 180);
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(161, 161, 161, 0.9);
  padding: 0.5%;
  margin-left: 1%;
}

#orgName{
  margin-right: 1%;
}

.content{
  display: flex;
  margin: 1% 1%;
}

.repoLeft{
  float: left;
  width: 23%;
  height: 45em; 
  margin-right: 1%;
} 

.repoRight{
  float: left;
  width: 76%;
  border-radius: 10px;
  box-shadow: 0px 1px 10px rgba(161, 161, 161, 0.9);
  height: 43em; 
  padding: 0.5%;
}

.repoList{
  height: 55%;
  margin-bottom: 4%;
}

.filterList{
  height: 38%;
}
.row{
  padding: 1% 1%;
  width: 100%;
}

.logoutButton{
  color: #664983;
}

.matLogout{
  font-size: 250%;
}