.name {
    color: #664983;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    font-family: "Bahnschrift";
}

.example-spacer {
    flex: 1 1 auto;
}

input{
    margin-right: 20px;
}

/* body */
.a{
    text-align: center;
    font-family: bahnschrift;
    font-size: 68px;
    padding-top: 150px;
}
.b{
    padding-top: 10px;
}

.containerBody{
    display: flax;
    margin: 10% 0;
}

/* cards */
.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:left;
  }

  .block {
    margin-left: 2rem;
    color:black;
    height: 350px;
    border: 1.2px solid rgb(230, 230, 230);
  }

  .block:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(216, 216, 216, 0.9);
  }
  
  .containerCards{
      padding-bottom: 5%;
  }
