.name {
    color: #664983;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
    font-size: 150%;
    font-family: "Bahnschrift";
}

.example-spacer {
    flex: 1 1 auto;
}

.loginButton{
    background-color: #664983;
    color: white;
    font-family: "Bahnschrift";
}

.navButton{
    margin-left: 2%;
}

/* body */

.content{
    display: flex;
    align-items: center;
}
.bodyLeft{
    color: #664983;
    width: 50%;
    margin-left: 10%;
}
.bodyRight{
    width: 50%;
}

.bodyText{
    width: 100%;
    font-family: "Bahnschrift";
    font-size: 300%;
}

.registerButton{
    background-color: #664983;
    color: white;
    font-family: "Bahnschrift";
}

/* cards */
/* .row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content:left;
  }

  .block {
    margin-left: 2rem;
    color:black;
    height: 350px;
    border: 1.2px solid rgb(230, 230, 230);
  }

  .block:hover{
    transform: scale(1.05);
    box-shadow: 10px 10px 15px rgba(216, 216, 216, 0.9);
  }
  
  .containerCards{
      padding-bottom: 5%;
  } */