.container{
    display: flex;
    justify-content: end;
    vertical-align: middle;
}

input{
    margin-right: 20px;
}

.navbar-app {
    color: white;
    padding-left: 15px;
    text-decoration: none;
    text-align: center;
}

.navbar-header {
    padding-left: 50px;
    padding-top: 7px;
    font-size: x-large;
}

.navbar-default {
    background-color: #261835;
}

.fa-1x {
    font-size: 1.2em;
}

.anavbar-nav {
    color: white
}

#home_search,
#home_token {
    margin-right: 10px;
    border-radius: 7px;
}


.btn-home {
    margin-bottom: 8px;
}