<mat-toolbar class="navigation">
    <img src="\assets\images\app_logo.png" alt="App Name" height="55px" />
    <a href="#" class="name">Polyrepo</a>
    <span class="example-spacer"></span>
    <a class="btn name navButton">About</a>
    <!-- <a class="btn name navButton" href="#About">About</a> -->
    <a class="btn name navButton">Contact</a>
    <!-- <a class="btn name navButton" href="#Contact">Contact</a> -->
    <a class="btn loginButton navButton" (click)="routeToLogin()">Login</a>
</mat-toolbar>

<!-- Body -->
<div class="content">
    <div class="bodyLeft">
        <h1 class="bodyText">Build for professional teams</h1>
        <a class="btn loginButton" (click)="routeToRegistor()">Register</a>
    </div>
    <div class="bodyRight">
        <img src="assets\images\bodyImage.svg" width="85%" />
    </div>
</div>

<!-- for routing -->
<div>
    <router-outlet></router-outlet>
</div>