<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="\assets\images\app_logo.png" alt="App Name" height=55px>
            <a href="#" class="navbar-app">App Name</a>
        </div>
        <div class="container">
            <form [formGroup]="loginForm">

                <!--Token Input-->
                <input type="text" placeholder="Token" formControlName="token" (blur)="getToken()">

                <!--Search Organization-->
                <input type="text" id="searchOrganization" matInput [matAutocomplete]="autoGroup" placeholder="Search" formControlName="organizationName" (keyup)="getOrganization()" (blur)="searchvisibility()">
                <mat-autocomplete #autoGroup="matAutocomplete"><h1></h1>
                    <mat-option *ngFor="let x of organizationsData" [value]="x.node.name" >
                        <p>{{x.node.name}}</p>
                    </mat-option>
                </mat-autocomplete>
                
                <!--Submit-->
                <button class="btn btn-primary" type="button" [disabled]="isdisable">
                    Search
                </button>
            </form>
        </div>
    </div>
</div>