.loader {
  width: 100px;
  height: 100px;
  position: absolute;
  margin: 50%;
}

.loader div {
  position: absolute;
  width: 25%;
  height: 25%;
  border-radius: 50%;
  animation: load 600ms infinite ease-in-out;
}

.loader div:nth-of-type(1) {
  background-color: #664983;
}

.loader div:nth-of-type(2) {
  background-color: #4661a3;
  animation-delay: 0.1s;
}

.loader div:nth-of-type(3) {
  background-color: #0078b8;
  animation-delay: 0.2s;
}

.loader div:nth-of-type(4) {
  background-color: #008ebd;
  animation-delay: 0.3s;
}

@keyframes load {
  0% {
    transform: translate(0%);
    border-radius: 50%;
  }

  25% {
    transform: translate(200%) rotate(45deg);
    border-radius: 0%;
  }

  50% {
    transform: translate(200%, 200%);
    border-radius: 50%;
  }

  75% {
    transform: translate(0, 200%) rotate(-45deg);
    border-radius: 0%;
  }

  100% {
    transform: translate(0%);
    border-radius: 50%;
  }
}

h4 {
  font-size: large;
  margin-bottom: 0px;
}

a {
  color: black;
  text-decoration: none;
}

th {
  font-size: medium;
}

.container {
  overflow-y: auto;
}

.fa-xmark{
  float: right;
  font-size: 150%;
  color: #808080;
}