<div class="container">
    <div class="row">
        <form [formGroup]="fform">
            <input type="text" placeholder="Title" formControlName="title"><br><br>
        </form>
    </div>
            <div class="row" style="margin-top: 20%;">
                <div class="col-6">
                <button mat-button class="btn btn-sm" mat-dialog-close type="button" (click)="SaveQuery()">Ok</button>
                </div>
                <div class="col-6">
                <button class="btn" mat-button mat-dialog-close type="button" >Close</button>
                </div>
            </div>
    
</div>