.headBtn{
    background-color: #664983;
    color: white;
}
.btn-sm {
  margin-left: 1%;
  background-color: #664983;
  color: white;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.queryBTN{
  display: flex;
}

.svg {
  filter: invert(1);
}
.criticalButton{
  margin-left: 0.5%;
}

th{
  font-size: medium;
}

h4{
  font-size:medium;
}

.avgTime{
    margin : 0% 1%;
}
a {
    color:black;
    text-decoration: none;
}
.criticalIssueList{
    padding: 2% 2% 1% 1%;
}

.avgTimeList{
    padding: 2% 2% 1% 1%;
}

#labelList{
    float: left;
    width: 30%;
    height: 33em !important;
    overflow-y: auto ;
}

#criticalList{
  height: 31em !important;
  overflow-y: auto ;
}

 ::ng-deep .issuesListArea .mat-tab-body-content{
        overflow: hidden;
}
#labelData{
    float: left;
    width: 68%;
    height: 33em !important;
    overflow-y: auto ;
}

.labels{
    margin-right: 1%;
}

.labelButton{
    margin: 1%;
}

.loader {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 45%;
  margin-top: 8%;
}

.loader div {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0.3rem;
  background: #664983;
  border-radius: 50%;
  animation: 0.6s bounce infinite alternate;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}


@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}
  
  .mat-column-issue{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 52% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
  }

  .mat-column-issueRepository{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
  }

  .mat-column-createdAt{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
  }

  .mat-column-authorLogin{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
  }

  .mat-column-title{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 75% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
  }

  .mat-column-labelRepository{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 25% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
  }

  .colOne{
    padding-right: 10px;
  }