<mat-tab-group>
    
    <mat-tab label="Critical Issue">
        <div class="criticalIssueList">
            <form [formGroup]="criticalIssuesForm" >
                <h6>This will list all the Open Priority-1 issues across selected repositories open since  
                    <input type="number" formControlName="criticalIssues" > days.<button class="btn btn-primary criticalButton" (click)="test()">List</button></h6>  
            </form>
        </div>
    </mat-tab>
    
    <mat-tab label="Average Resolving Time">
        <div class="avgTimeList">
            <form [formGroup]="AvgTimeForm">
                <h6>How much average time needed for resolving 
                    <button class="btn btn-primary btn-sm avgTime" (click)="show = 'P1'">Priority-1</button>or
                    <button class="btn btn-primary btn-sm avgTime" (click)="show = 'P2'">Priority-2</button> issues?</h6>   
            </form>
        </div>
        <p *ngIf="show == 'P1'">Abc</p>
        <p *ngIf="show == 'P2'">Def</p>
    </mat-tab>
    
    <mat-tab label="Search By Label"> Content 3 </mat-tab>
    
    <mat-tab label="Issue Division"> Content 3 </mat-tab>
</mat-tab-group>
