<button type="button" class="btn btn-sm btn-primary" data-bs-toggle="collapse" data-bs-target="#demo" >Trend List</button>
  <div id="demo" class="collapse">
    <h3>{{this.trendDetails1.title}}</h3>
    <h3>{{this.trendDetails2.title}}</h3>
    <h3>{{this.trendDetails3.title}}</h3>
  </div>

<div class="container-fluid">
  <div class="row">

    <div class="col">
      <div>
        <h1 class="trendTitle">{{this.trendDetails1.title}}</h1>
        <div style="display: block">
          <canvas baseChart
          [datasets]="barChartData1"
          [labels]="barChartLabels1"          
          [legend]="barChartLegend"    
          [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col">
      <div>
        <h1 class="trendTitle">{{this.trendDetails2.title}}</h1>
        <div style="display: block">
          <canvas baseChart
          [datasets]="barChartData2"
          [labels]="barChartLabels2"          
          [legend]="barChartLegend"    
          [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>

    <div class="col">
      <div>
        <h1 class="trendTitle">{{this.trendDetails3.title}}</h1>
        <div style="display: block">
          <canvas baseChart
          [datasets]="barChartData3"
          [labels]="barChartLabels3"          
          [legend]="barChartLegend"    
          [type]="barChartType">
          </canvas>
        </div>
      </div>
    </div>

  </div>
</div>