<mat-toolbar class="navigation">

        <img src="\assets\images\app_logo.png" alt="App Name" height="55px" />
      <a href="#" class="name">Polyrepo</a>


        <form [formGroup]="orgListForm" (ngSubmit)="getOrganization()">
          <input type="text" id="searchOrganization" matInput [matAutocomplete]="autoGroup" placeholder="Search" formControlName="organizationName" (keyup)="getOrganization()" (blur)="searchvisibility()"  size="30">
                <mat-autocomplete #autoGroup="matAutocomplete"><h1></h1>
                    <mat-option *ngFor="let x of organizationsData; let i = index"  [value]="x.node.name" (onSelectionChange)="setOrgToLocal(i)">
                        <p>{{x.node.name}}</p>
                    </mat-option>
                </mat-autocomplete>
        </form>
        <button class="btn btn-primary btn1" (click)="routeToRepository()" [disabled]="isdisable" type="button" >Search</button>

        <span class="example-spacer"></span>
  

        <!-- <a href="{{ orgProfileData?.organization?.url }}" target="_blank" class="name" id="orgName">
          {{ orgProfileData?.organization?.name }}</a><br /> -->
          <a href="#" target="_blank" class="name userName" id="orgName">Hi, {{userName}}</a>
          <i class="fa fa-sign-out" (click)="logout()" aria-hidden="true"></i>
          <!-- <img src="{{ orgProfileData?.organization?.avatarUrl }}" alt="App Name" height="75%"/> -->

</mat-toolbar>

<div class="content">
  <div class="sideNavbar">
    <ul class="nav flex-column">
        <li class="list">
          <a class="nav-link" href="#">Pinned Query</a>
        </li>
        <li class="list">
          <a class="nav-link" href="#">Saved Query</a>
        </li>
        <li class="list">
          <a class="nav-link" href="#">Trend Capture</a>
        </li>
      </ul>
</div>
<div class="result">
  <h1>Hello</h1>
</div>
</div>