::ng-deep .mat-tab-label-content {
    font-size: large;
}

h4 {
    font-size: large;
}

a {
    color: black;
    text-decoration: none;
}

th {
    font-size: medium;
}

.btn-sm {
    margin-left: 1%;
    background-color: #664983;
    color: white;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.mat-progress-spinner ::ng-deep circle {
    stroke: #2A79FF;
}

.btn-push-pin {
    padding: 0;
}

.svg {
    filter: invert(1);
}

#idelPR{
    height: 33em !important;
    overflow-y: auto ;
}

#unmergedPR{
    height: 33em !important;
    overflow-y: auto ;
}


.mat-column-title{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 52% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}

.mat-column-createdAt{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}

.mat-column-updatedAt{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}

.mat-column-authorLogin{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}

.mat-column-repository{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}


.loader {
  display: flex;
  justify-content: center;
  position: absolute;
  margin-left: 45%;
  margin-top: 8%;
}

.loader div {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0.3rem;
  background: #664983;
  border-radius: 50%;
  animation: 0.6s bounce infinite alternate;
}

.loader div:nth-child(2) {
  animation-delay: 0.3s;
}

.loader div:nth-child(3) {
  animation-delay: 0.6s;
}


@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}