::ng-deep .mat-tab-label-content {
    font-size: large;
}

h4 {
    font-size: large;
}

a {
    color: black;
    text-decoration: none;
}

th {
    font-size: medium;
}

.btn-sm {
    margin-left: 1%;
    background-color: #664983;
    color: white;
}

.load {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

.mat-progress-spinner ::ng-deep circle {
    stroke: #2A79FF;
}

.btn-push-pin {
    padding: 0;
}

.svg {
    filter: invert(1);
}

#idelPR{
    height: 33em !important;
    overflow-y: auto ;
}

#unmergedPR{
    height: 33em !important;
    overflow-y: auto ;
}


.mat-column-title{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 52% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}

.mat-column-createdAt{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}

.mat-column-updatedAt{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}

.mat-column-authorLogin{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}

.mat-column-repository{
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 50% !important;
    width: 16% !important;
    overflow-wrap: break-word;
    padding: 0% 2%;
}


.loader{
    width: 100px;
    height:100px;
    position:absolute;
    margin-left: 40%;
    margin-top: 20%;
  }
  
  .loader div{
    position:absolute;
    width: 25%;
    height: 25%;
    border-radius:50%;
    animation: load 600ms infinite ease-in-out;
  }
  
  .loader div:nth-of-type(1){
    background-color: #664983;
  }
  
  .loader div:nth-of-type(2){
    background-color:#4661a3;
    animation-delay:0.1s;
  }
  
  .loader div:nth-of-type(3){
    background-color:#0078b8;
    animation-delay:0.2s;
  }
  .loader div:nth-of-type(4){
    background-color:#008ebd;
    animation-delay:0.3s;
  }
  
  @keyframes load {
    0% {
      transform: translate(0%);
      border-radius: 50%;
    }
  
    25% {
      transform: translate(200%) rotate(45deg);
      border-radius: 0%;
    }
  
    50% {
      transform: translate(200%, 200%);
      border-radius: 50%;
    }
  
    75% {
      transform: translate(0, 200%) rotate(-45deg);
      border-radius: 0%;
    }
    100% {
      transform: translate(0%);
      border-radius: 50%;
    }
  }